<!DOCTYPE html>
<html>
    <head>
        <title>Remode</title>
        <%- include('layout/head'); %>
    </head>
    <body>
        <%- include('layout/navbar', {user: locals.user}); %>
        <div class="container">
        <% if (locals.user) { %>
            <h1>Welcome to Remode!<%= user.userName %></h1>
            <% if (locals.error) { %>
                <p><%= locals.message %></p>
            <% } %>
            <div class="container">
                <a class="btn btn-outline-info" href="/projects/create-project">Create New Project</a>
                <a class="btn btn-outline-dark" href="/projects">Continue With Existing Project</a>
            </div>
        <% } else { %>
            <h1>Welcome to Remode!Login to Continue</h1>
        <% } %>
        </div>
    </body>
</html>
