<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <%- include('layout/head'); %>
    </head>
    <body>
        <%- include('layout/navbar', {user: locals.user}); %>
        <div class="container">
          <h1>Login using...</h1>
          <% if (locals.error) { %>
            <h4>
              An Error was encountered!<%= `${message!==''?`:${message}`:''}` %>
            </h4>
          <% } %>
          <a class="link" href="/auth/github"><i class="fa fa-github-square" style="font-size:72px;color:black"></i></a>
        </div>
    </body>
</html>
